# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
*.egg-info/

# LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.bcf
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.run.xml

# Logs & captures sensibles
*.pcap
*.pcapng
eve.json
/scenarios/**/results/*.json
/scenarios/**/results/*.pcap

# Secrets
*.token
*.key
*.pem
secrets/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
